* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background-color: #09d;
  color: #fff;
}

.panel-default > .panel-heading {
  background-color: #fe0;
  color: #000;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
